.faq {
    padding: 120px 0;
}

.faq-container {
    display: grid;
    grid-gap: 52px;
    max-width: 792px;
}

.faq-item-heading {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}

.faq-item-heading svg {
    width: 22px;
    cursor: pointer;
}

.faq-item-heading svg path {
    fill: var(--main-black);
}

.faq-item-container p {
    padding: 24px 0;
}

.faq-item-container {
    border-bottom: 1px solid #13131D33;
    padding: 0 12px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.section-faq-main {
    display: grid;
    grid-gap: 24px;
}

@media only screen and (max-width: 608px) {
    .section-convert-types {
        padding-top: 52px;
    }

    .section-convert-types-container {
        grid-gap: 24px;
    }

    .section-faq {
        padding: 52px 0;
    }
}


/* FAQ accordion */

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.accordions {
    max-width: 80%;
    margin: auto;
}

.accordion .accordion__title {
    display: block;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--white);
    border-bottom: 1px solid #0002;
    padding: 20px 10px;
    color: var(--dark);
    margin-top: 10px;
    transition: all 0.25s ease;
    cursor: pointer;
}

.accordion .accordion__title input {
    appearance: none;
}

.accordion .accordion__title:after {
    transition: all 0.25s ease;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    float: right;
    margin-right: 10px;
}

.accordion .accordion__title:has(input:checked):after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    float: right;
    margin-right: 10px;
}

.accordion .accordion__text {
    overflow: hidden;
    max-height: 0;
    background-color: var(--gray-light);
    filter: contrast(0.9);
    transition: all 0.5s ease-in-out;
    font-weight: 400;
}

.accordion .accordion__text p {
    font-weight: 100;
    line-height: 1.5rem;
    padding: 10px 10px;
    color: var(--gray-dark);
}

.accordion .accordion__title:has(input:checked) {
    color: var(--green-light);
}

.accordion .accordion__title:has(input:checked)+.accordion__text {
    max-height: 200px;
}