.whoweare {
    padding: 80px 0 120px 0;
}

.whoweare-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 64px;
    align-content: center;
    justify-content: start;
    max-width: 1076px;
    grid-template-columns: 6fr 5fr;
}

.whoweare-left-container img {
    max-width: 486px;
    width: 100%;
    height: auto;
}

.review-box {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 8px;
    background-color: #1A55C81A;
    justify-content: start;
    width: max-content;
    padding: 16px;
    border-radius: 8px;
}

.review-box svg {
    width: 22px;
}

.review-box svg path {
    fill: var(--main-blue);
}

.whoweare-right-content-container {
    display: grid;
    grid-gap: 16px;
}

.whoweare-right-container {
    display: grid;
    grid-gap: 24px;
    align-content: center;
}

@media only screen and (max-width: 912px) {
    .whoweare-container {
        grid-gap: 24px;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        max-width: 486px;
    }

    .whoweare-right-container {
        grid-gap: 16px;
    }
}

@media only screen and (max-width: 570px) {
    .whoweare {
        padding: 52px 0 64px 0;
    }
}